{% extends "template.html" %}

{% block body %} 
<div class="card-body" >
    <form action="/video/upload" method="post" max-width="300" enctype="multipart/form-data">
        <input type="text" name="title" placeholder="title" class="form-control">
        <input type="text" name="description" placeholder="description" class="form-control">
        <input type="text" name="duration" placeholder="duration" class="form-control">
        <input type="file" name="movie" class="form-control">
        <button class="btn">SUBMIT</button>
    </form>
</div>



{% for movie in movies %}
    <div class="movie-card">
        <div class="movie-card-thumbnail">
            <video proster="/media/image/s5tbehfbawjatgi50tqc.gif" style="outline: none"  width="250" height="140" preload="none" controls controlsList="nodownload">
                <source src="/media/video/{{movie.fileName}}" type="video/mp4">
                <track label="English" kind="subtitles" srclang="en" src="/media/caption/1575591741854_en.vtt" default>
                <!-- <track label="Chinese" kind="subtitles" srclang="en" src="/media/video/Avatar.cn.vtt" default> -->
            </video>
        </div>
        <div class="movie-card-info">
            <div class="movie-card-tile">
                    {{movie.title}}
            </div>
            <p>{{movie.description}}</p>
            <a href="/media/video/{{movie.fileName}}" class="btn btn-light btn-sm" download="{{movie.title}}">DOWNLOAD</a>
        </div>
    </div>
    
{% endfor %}

{% endblock %}
